/* Soluzione qui */

/*Tablet Media Query*/

@media screen and (max-width: 769px) {
    #topbar {
        justify-content:flex-start;
    }

    main {
        padding: 45px;
    }

    .recipe-origin {
        display: inline;
    }
}
    
