/* Soluzione qui */

/*Tablet Media Query*/

@media screen and (min-width: 768px) {
    #topbar {
        justify-content:flex-start;
    }

    main {
        padding: 45px;
    }

    .recipe-name, .recipe-origin {
        display: inline;
        font-size: 30px;
    }
    
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
    
    .quick-notes li {
        flex-shrink: 0;
        flex-basis: calc(100% / 3 - (14px * 2) / 3);
    }

    .social-networks button {
        flex-grow: 1;
    }

    aside.ads {
        display: block;
    }
}


    /* Desktop Media Query */


@media screen and (min-width: 992px) {
    .recipe-name, .recipe-origin {
        font-size: 40px;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-grow: 1;
        height: auto;
    }

     .social-networks .label {
        display: inline-block;
    }
}

